/* colors: 
primary secondary accent1 accent2 
pink blue green purple 
#F07F90	#4E7B93	#96AE6F	#886D84 
Heading Font: Fuzzy Bubbles
Paragraph Font: Jost*/

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

/*CSS for all site pages------------------*/

body {
    font-family: "Jost", sans-serif;
}

#content {
    width: 100%;
}

nav {
    background-color: #F07F90;
    display: flex;
    flex-direction: row;
}

.logo-link {
    width: 250px;
    padding: 10px 20px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.nav-bar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* .nav-bar a:hover {
    color: white;
    background-color: #886D84;
} */


footer {
    display: flex;
    background-color: #4E7B93;
    color: white;
}

footer p:nth-of-type(1) {
    font-family: "Fuzzy Bubbles", sans-serif;
    padding: 20px 50px;
    font-size: 30px;
}

footer p:nth-of-type(2) {
    padding: 0 20%;
    font-size: 20px;
}

footer a {
    font-family: "Jost", sans-serif;
    font-size: 30px;
    background-color: #96AE6F;
    text-decoration: none;
    color: white;
    padding: 0 30px;
    margin: 0 30px;
    border: #F07F90 solid 10px;
}

footer a:hover {
    background-color: #96AE6F;
    color: white;
}


/*CSS for home page-----------------------*/

.img-examples {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.img-examples img {
    border: 10px solid #4E7B93;
    max-width: 400px;
    height: auto;
}

.details {
    border: 10px solid #886D84;
    margin: 20px 25%;
    text-align: center;
}

/* CSS for portfolio page------------------*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
  .column img {
    vertical-align: middle;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    border: #96AE6F solid 10px;
  }

.column p {
    padding: 5px;
    border: #4E7B93 solid 5px;
}


.description {
    border: 5px solid #96AE6F;
    margin: 20px 20%;
    text-align: center;
}

.txt-grid {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: auto;
}

.goals {
    grid-column: 1/2;
    border: 5px solid #886D84;
    text-align: center;
    margin: 20px;
}

.future {
    grid-column: 3/4;
    border: 5px solid #886D84;
    text-align: center;
    margin: 20px;
}

/*CSS for inspiration page----------------*/

.websites {
    display: flex;
}

.example-img {
    max-width: 200px;
}

.website-ind {
    border: #4E7B93 solid 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.website-ind a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family: 'Fuzzy Bubbles', 'sans-serif';
}

.site-logo {
    /* image */
    height: 50px;
    margin-bottom: 10px;
}

.contact-button {
    border: #96AE6F solid 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.contact-button a {
    background-color:#886D84;
    color: white;
    text-decoration: none;
    font-family: 'Jost', 'sans-serif';
    padding: 15px;
    border-radius: 20px;
}

.contact-button p {
    margin: 30px;
}

/*CSS for contact page---------------- */

form {
    font-size: 18px;
    border: 5px solid #886D84;
    margin: 50px auto;
    padding: 0;
    max-width: 40%;
}

form label.side {
    font-family: 'Jost', 'sans-serif';
    display: block;
    margin: 20px;
}

form label.message {
    font-family: 'Jost', 'sans-serif';
    display: flex;
    flex-direction: column;
    margin: 20px;
}

form input, form textarea {
    width: 200px;
    min-height: 50px;
    font-family: 'Jost', 'sans-serif';
}

form button.submit {
    font-family: 'Jost', 'sans-serif';
    font-size: 18px;
    border: 1px solid #886D84;
    background-color: #886D84;
    color: white;
    border-radius: 20px;
    width: 200px;
    padding: 15px;
    margin: 20px auto;
}

.thankyou {
    border: 5px solid #886D84;
    margin: 50px auto;
    padding: 0;
    width: 40%;
    text-align: center;
}

/* media queries */
  
@media screen and (min-width: 600px) {
    /* portfolio */
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (min-width: 900px) {
    /* home page */
    .img-examples {
        flex-direction: row;
    }
    
    /* portfolio */
    .column {
        flex: 20%;
        max-width: 25%;
        padding: 0 4px;
    }

}
