/* colors: primary secondary accent1 accent2 
pink blue green purple 
#F07F90	#4E7B93	#96AE6F	#886D84 
Heading Font: Fuzzy Bubbles
Paragraph Font: Jost*/

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

/*CSS for all site pages------------------*/

body {
    background-color: white;
    font-family: "Jost", sans-serif;
    padding: 0;
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #F07F90;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#logo-link {
    justify-self: center;
    align-self: center;
}

nav {
    background-color: #F07F90;
    text-align: center;
    font-size: 20px;
    font-family: "Jost", sans-serif;
    grid-column: 1/4;
}

nav a {
    color: white;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

/* nav a:hover {
    color: white;
    background-color: #886D84;
} */

.logo {
    width: 20%;
}

footer {
    display: flex;
    background-color: #4E7B93;
    color: white;
}

footer p:nth-of-type(1) {
    font-family: "Fuzzy Bubbles", sans-serif;
    padding: 20px 50px;
    font-size: 30px;
}

footer p:nth-of-type(2) {
    padding: 0 20%;
    font-size: 20px;
}

footer a {
    font-family: "Jost", sans-serif;
    font-size: 30px;
    background-color: #96AE6F;
    text-decoration: none;
    color: white;
    padding: 0 30px;
    margin: 0 30px;
    border: #F07F90 solid 10px;
}

footer a:hover {
    background-color: #96AE6F;
    color: white;
}


/*CSS for home page-----------------------*/

.main-home {}

.intro-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.intro-text {
    border: 5px solid #96AE6F;
    grid-column: 1/2;
    margin: 20px;
    text-align: center;
}

.image-me {
    width: 250px;
    grid-column: 2/3;
    margin: 20px;
}

.img-examples img {
    width: 25%;
    border: 5px solid #4E7B93;
    padding: 10px;
}

.insp-details {
    border: 5px solid #886D84;
    margin: 20px 20%;
    text-align: center;
}

.port-details {
    border: 5px solid #886D84;
    margin: 20px 20%;
    text-align: center;
}


/* CSS for portfolio page------------------*/

.main-portfolio {

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


.description {
    border: 5px solid #96AE6F;
    margin: 20px 20%;
    text-align: center;
}

.txt-grid {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: auto;
}

.goals {
    grid-column: 1/2;
    border: 5px solid #886D84;
    text-align: center;
    margin: 20px;
}

.future {
    grid-column: 3/4;
    border: 5px solid #886D84;
    text-align: center;
    margin: 20px;
}

/*CSS for inspiration page----------------*/

.main-inspiration {
    
}

.websites {
    display: flex;
}

.website-ind {
    border: #4E7B93 solid 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.website-ind a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family: 'Fuzzy Bubbles', 'sans-serif';
}

.site-logo {
    /* image */
    width: 50px;
    margin-bottom: 10px;
}

.contact-button {
    border: #96AE6F solid 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.contact-button a {
    background-color:#886D84;
    color: white;
    text-decoration: none;
    font-family: 'Jost', 'sans-serif';
    padding: 15px;
    border-radius: 20px;
}

.contact-button p {
    margin: 30px;
}

/*CSS for contact page---------------- */

.main-contact {
    
}



/* media queries */



@media screen and (max-width: 800px) {
    /* portfolio */
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .website-ind {
    display:block;
  }
}
  
@media screen and (max-width: 600px) {
    /* portfolio */
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
